# Distribution / packaging
.Python
__pycache__/
scripts/up-python/
downloads/
testing/
lib/
lib64/
parts/
sdist/
var/
.vscode/
.installed.cfg
MANIFEST
.idea/
.venv/
*.log
*.log.lck
*.log.1
*.html
*.json
**/jar_files/**
*.jar
**/.DS_Store