# Distribution / packaging
.Python
__pycache__/
scripts/up-python/
downloads/
testing/
lib/
lib64/
parts/
sdist/
var/
.vscode/
.installed.cfg
MANIFEST
.idea/
.venv/
*.log
*.log.lck
*.log.1
*.html
**/jar_files/**
*.jar
**/.DS_Store
**/target
test_manager/reports/summary/summary.json
scripts/up-conan-recipes/
test_agent/cpp/build
test_agent/cpp/CMakeUserPresets.json
