# Distribution / packaging
.Python
__pycache__/
build/
develop-eggs/
dist/
downloads/
testing/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.vscode/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST